@model IEnumerable<Web_bh.EF.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->
                    @using (Html.BeginForm("checkbox", "Product", FormMethod.Get))
                    {
                        <div class="aside">
                            <h3 class="aside-title">Categories</h3>
                            <div class="checkbox-filter">
                                {
                                <div class="input-checkbox">
                                    <input type="checkbox" name="string" value="Laptop">
                                    <label for="category-1">
                                        <span></span>
                                        Laptops
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="string" value="VGA">
                                    <label for="category-2">
                                        <span></span>
                                        VGA
                                    </label>
                                </div>
                                }
                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-1">
                                    <label for="category-1">
                                        <span></span>
                                        Laptops
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-2">
                                    <label for="category-2">
                                        <span></span>
                                        VGA
                                    </label>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-3">
                                    <label for="category-3">
                                        <span></span>
                                        HeadPhone
                                    </label>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-4">
                                    <label for="category-4">
                                        <span></span>
                                        MainBoard
                                    </label>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <!-- /aside Widget -->
                </div>
                <!-- /ASIDE -->
                <!-- STORE -->

                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Sort By:
                                <select class="input-select">
                                    <option value="0">Popular</option>
                                    <option value="1">Position</option>
                                </select>
                            </label>

                            <label>
                                Show:
                                <select class="input-select">
                                    <option value="0">20</option>
                                    <option value="1">50</option>
                                </select>
                            </label>
                        </div>

                    </div>
                    <!-- /store top filter -->
                    <!-- store products -->
                    <div class="row">
                        <!-- product -->
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        <a href="/Product/Detail?id=@item.Id">
                                            <img id="i@(item.Id)" class="img-responsive" alt="@item.Name" src="@Url.Content(item.Image)" />
                                        </a>
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Category</p>
                                        <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                        @if (item.PriceNew == null)
                                        {
                                            <h4 class="product-price">@item.PrinceOld</h4>
                                        }
                                        else
                                        {
                                            <h4 class="product-price">@item.PriceNew <del class="product-old-price">@item.PrinceOld</del></h4>
                                        }
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <!-- /store products -->
                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <span class="store-qty">Showing 20-100 products</span>
                        <ul class="store-pagination">
                            <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

</body>



